.git
.env
.env.*
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/vendor
**/dist
.cache
*.docx
backend/storage/logs/*
backend/storage/app/**
backend/storage/framework/sessions/**
backend/storage/framework/cache/**
**/test-results
**/playwright-report
backend/database/*.sqlite*
